<div class="container">
  <h1 class="display-4 text-center">Gestión de datos</h1>
<hr>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/courses">Cursos</a>
        <a class="nav-link" routerLink="/students">Estudiantes</a>
        <a class="nav-link" routerLink="/teachers">Profesores</a>
        <a class="nav-link" routerLink="/users">Usuario</a>        
      </div>
    </div>
  </nav>
</div>

<div class="container mt-4">
  <div class="col">
    <h2 class="text-center">Registra un nuevo usuario</h2>
    <form (ngSubmit)="saveUsers()">
      <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="text" class="form-control" [(ngModel)]="modelUsers.user" placeholder="Ingresa tu usuario" [ngModelOptions]="{standalone: true}">
        <small class="form-text text-muted">Este usuario puede ser un correo o un nombre</small>
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" [(ngModel)]="modelUsers.password" placeholder="Contraseña" [ngModelOptions]="{standalone: true}">
      </div>
      <button type="submit" class="btn btn-success mr-auto">Registrarme</button>
    </form>
  </div>
</div>

