<div class="container">
  <h1 class="display-4 text-center">Gestión de datos</h1>
<hr>
    <ul class="nav justify-content-around">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/courses"><h3>Cursos</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/students"><h3>Estudiantes</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teachers"><h3>Profesores</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users"><h3>Registra un nuevo usuario</h3></a>
        </li>
      </ul>
</div>

