<div class="container">
  <h1 class="display-4 text-center">Logueate</h1>
  <div class="row mt-4">
    <div class="col">
      <h2 class="text-center">Ingresa</h2>
      <form (ngSubmit)="loginUsers()">
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input type="text" class="form-control" [(ngModel)]="modelUsers.user" placeholder="Ingresa tu usuario" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" class="form-control" [(ngModel)]="modelUsers.password" placeholder="Contraseña" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-primary">Ingresar al sistema</button>
      </form>
    </div>
    
  </div>
</div>
