<div class="container">
  <h1 class="display-4 text-center">Gestión de datos</h1>
<hr>
    <ul class="nav justify-content-around">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/courses"><h3>Cursos</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/students"><h3>Estudiantes</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teachers"><h3>Profesores</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users"><h3>Registra un nuevo usuario</h3></a>
        </li>
      </ul>
</div>
<div class="container">
  <h1 class="text-center">Registro de estudiantes</h1>
  <form #studentsForm="ngForm" (ngSubmit)="saveStudents(studentsForm)">
      <div class="row">
        <div class="col">
          <input type="text" name="identificacion" #name="ngModel" [(ngModel)]="studentService.selectedStudent.identificacion" class="form-control" placeholder="Identificacion">
        </div>
        <div class="col">
          <input type="text" name="nombres" #name="ngModel" [(ngModel)]="studentService.selectedStudent.nombres" class="form-control" placeholder="Nombres">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <input type="text" name="apellidos" #name="ngModel" [(ngModel)]="studentService.selectedStudent.apellidos" class="form-control" placeholder="Apellidos">
        </div>
        <div class="col">
          <input type="text" name="genero" #name="ngModel" [(ngModel)]="studentService.selectedStudent.genero" class="form-control" placeholder="Genero" >
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
        <label>Selecciona el curso</label>
          
            <select class="custom-select" name="curso" #name="ngModel" [(ngModel)]="studentService.selectedStudent.curso">
              <option *ngFor="let course of courseService.courses" value="{{course.nombre}}" >{{course.nombre}}</option>
            </select>
            <small>Recuerda que el estudiante debe estar asociado a una materia para poder registrarlo</small>
        </div>
      </div>
      
      <button type="submit" class="btn btn-outline-primary mt-2 mx-auto">Guardar curso</button>
    </form>

    <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">Identificacion</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Genero</th>
            <th scope="col">Curso</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody *ngFor="let student of studentService.students">
            <td>{{student.identificacion}}</td>
            <td>{{student.nombres}}</td>
            <td>{{student.apellidos}}</td>
            <td>{{student.genero}}</td>
            <td>{{student.curso.nombre}}</td>
            <td><button (click)="deleteStudent(student._id)" type="button" class="btn btn-outline-danger">Eliminar</button></td>            
        </tbody>
     
      </table>
</div>

