<div class="container">
  <h1 class="display-4 text-center">Gestión de datos</h1>
<hr>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/courses">Cursos</a>
        <a class="nav-link" routerLink="/students">Estudiantes</a>
        <a class="nav-link" routerLink="/teachers">Profesores</a>
        <a class="nav-link" routerLink="/users">Usuario</a>        
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <h1 class="text-center">Registro de cursos</h1>
  <form #courseForm="ngForm" (ngSubmit)="saveCourses(courseForm)">
      <div class="row">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="courseService.selectedCourse._id">
        <div class="col">
          <input type="text" name="codigo" #name="ngModel" [(ngModel)]="courseService.selectedCourse.codigo" class="form-control" placeholder="Código">
        </div>
        <div class="col">
          <input type="text" name="nombre" #name="ngModel" [(ngModel)]="courseService.selectedCourse.nombre" class="form-control" placeholder="Nombre">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
            <input type="text" name="observaciones" #name="ngModel" [(ngModel)]="courseService.selectedCourse.observaciones" class="form-control" placeholder="Observaciones">
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success mt-2 mx-auto">Guardar curso</button>
      <small id="noti"></small>

      <table class="table table-hover mt-4">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Observaciones</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody *ngFor="let course of courseService.courses">
            <td>{{course.codigo}}</td>
            <td>{{course.nombre}}</td>
            <td>{{course.observaciones}}</td>
            <td><button (click)="editCourse(course)" type="button" class="btn btn-outline-warning">Editar</button></td>
            <td><button (click)="deleteCourse(course._id, courseForm)" type="button" class="btn btn-outline-danger">Eliminar</button></td>
          </tbody>
        </table>
    </form>
</div>
