<div class="container">
  <h1 class="display-4 text-center">Gestión de datos</h1>
<hr>
    <ul class="nav justify-content-around">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/courses"><h3>Cursos</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/students"><h3>Estudiantes</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teachers"><h3>Profesores</h3></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/users"><h3>Registra un nuevo usuario</h3></a>
        </li>
      </ul>
</div>
<div class="container">
    <h1 class="text-center">Registro de profesores</h1>
    <form (ngSubmit)="saveTeachers()">
        <div class="row">
          <div class="col">
            <input type="text" [(ngModel)]="modelTeacher.identidad" class="form-control" placeholder="Identificacion" [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="modelTeacher.nombres" class="form-control" placeholder="Nombres" [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <input type="text" [(ngModel)]="modelTeacher.apellidos" class="form-control" placeholder="Apellidos" [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="modelTeacher.genero" class="form-control" placeholder="Genero" [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
              <label>Selecciona el curso</label>
              <select class="custom-select" [(ngModel)]="modelTeacher.curso" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let course of coursesService.courses" value="{{course.nombre}}" >{{course.nombre}}</option>
              </select>
              <small>Recuerda que el profesor debe estar asociado a una materia para poder registrarlo</small>              
          </div>
        </div>
        
        <button type="submit" class="btn btn-outline-primary mt-2 mx-auto">Guardar curso</button>
      </form>
  
      <table class="table table-hover mt-4">
          <thead>
            <tr>
              <th scope="col">Identificacion</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Genero</th>
              <th scope="col">Curso</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>    
          <tbody *ngFor="let teacher of teacherService.teachers">
            <tr>
              <td>{{teacher.identidad}}</td>
              <td>{{teacher.nombres}}</td>
              <td>{{teacher.apellidos}}</td>
              <td>{{teacher.genero}}</td>
              <td>{{teacher.curso.nombre}}</td>
            <td><button (click)="deleteTeacher(teacher._id)" type="button" class="btn btn-outline-danger">Eliminar</button></td>
            </tr>
          </tbody>   
        </table>
  </div>
  
  
